target/
node_modules/
*.log
*.jar
*.war
*.class
.vagrant/
__pycache__/
uploads/
wetransfer_api_2026-03-24_1825/
replay_pid228924.log
.idea/
.vscode/
*.iml

API/Esprit-PI-4SAE-4SAE2-2526-KidneyCare-/
EurekaServer/Esprit-PI-4SAE-4SAE2-2526-KidneyCare-/
mon-projet/node_modules/
mon-projet/.angular/
**/target/
